
Lab-Nios/modelsim/work
Lab-Nios/quartus/
Lab-Nios/modelsim/lab-nios.cr.mti

Lab-Nios/modelsim/lab-nios.mpf
Lab-Nios/modelsim/vsim.wlf
Lab-Nios/modelsim/Controller/report.txt
Lab-Nios/modelsim/work/_info
Lab-Nios/modelsim/work/_lib.qdb
Lab-Nios/modelsim/work/_lib1_1.qdb
Lab-Nios/modelsim/work/_lib1_1.qpg
Lab-Nios/modelsim/work/_lib1_1.qtl
Lab-Nios/modelsim/work/_vmake
Lab-Nios/quartus/GECKO.qsf
Lab-Nios/quartus/db/GECKO.db_info
